@import "@/assets/_var.scss";

.resume-card{
    position:relative;
    font-family: PingFang SC;
    width: 92vw;
    height: 35vw;
    background-color: $white;
    border-radius: 2.6vw;
    padding:3.7vw 3.7vw 2.6vw 4vw;
    .positionName{
        img{
            width: 4.8vw;
            height: 4.8vw;
        }
        .position-text{
            font-weight: bold;
            font-size:4vw;
            color:#333333;
        }
    }
    .hunter-tags{
        display: flex;
        margin-top:2.6vw;
        .tag-item{
            padding:1vw 3.5vw;
            background-color: #F5F5F5;
            color:#666666;
            border-radius: 1.3vw;
            margin-right:2.6vw;
        }
    }
    
    .self-des{
        color:#999999;
        font-size:3.5vw;
        line-height: 4.9vw;
        margin-top:3vw;
        overflow: hidden;
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
    }
    .share-btn{
        position: absolute;
        right:4.5vw;
        top:6vw;
        border:none;
        padding:0;
        img{
            width: 6.6vw;
            height: 6.6vw;
        }
    }
}