@import '@/assets/_var.scss';

.position-desc{
    textarea{
        width: 92vw;
        height: 106.7vw;
        margin:5.3vw auto;
        background-color: $white;
        padding:4vw;
    }
    .adm-button{
        width: 60vw;
        height: 11.7vw;
        background-color:$blue;
        font-size:4vw;
        color:$white;
        position:fixed;
        bottom: 8vw;
        left:50%;
        transform: translateX(-50%);
    }
}