@import "@/assets/_var.scss";

.success{
    
}
.success-icon{
    padding-top:10vw;
    width: 100%;
    img{
        width: 18vw;
        height: 18vw;
        margin:4vw auto;
        display: block;
    }
    .success-text{
        font-size: 4vw;
        color:$blue;
        text-align: center;
        margin-top:2vw;
    }
}
.success-tools{
    display: flex;
    width: 100%;
    margin-top: 10vw;
    justify-content:space-around;
    padding:0 16vw;
    .adm-button{
        text-align: center;
        width: 30vw;
        font-size:4vw;
        border-radius: 2vw;
    }
    .pos-manage{
        color:$blue;
        border:0.12vw solid $blue;
    }
    .pub-position{
        color:$white;
        background-color: $blue;
    }

}