@import "./normalize.css";
@import "./_var.scss";

html {
	line-height: 1.15;
	text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica,
		"helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif,PingFang SC;
	background-color: $silver;
	overflow-x: auto;
	overflow-y:auto;
	max-width: 100vw;
}

.sep-line {
	border-bottom: 1px solid $silver;
	padding-top: $spacing-small;
	margin-bottom: $spacing-small;
}
.app-root{
	max-width: 100vw;
}
span{
	max-width: 100vw;
}