.code-box {
  padding: 8px;
  .code-box-demo {
    background-color: #f8f8f8;
    padding: 16px 8px;
  }
}

.dsky-comp-wrapper {
  background-color: white;
  padding: 16px 24px;
}

.dsky-pagination-wrapper {
  background-color: white;
  padding: 16px 24px;
}

.dsky-button-wrapper {
  background-color: white;
  padding: 16px 24px;
}

.dsky-table-wrapper {
  background-color: white;
  padding: 16px 24px;
}

.dsky-alert-wrapper {
  .ant-alert {
    margin-bottom: 8px;
  }
}