@import "@/assets/_var.scss";

.picker-card{
    margin-bottom: 4vw;
    .picker-name{
        font-size:3.2vw;
        color:#999999;

    }
    .picker-content{
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        border:none;
        margin-top:2.6vw;
        border-radius: 2.6vw;
        padding:4vw 9vw 4vw 4vw;
        text-align: left;
        position:relative;
        width: 92vw;
        height: 13.3vw;
        background-color: $white;
        img{
            position:absolute;
            top:50%;
            transform: translateY(-50%);
            right:3.6vw;
            width: 3.5vw;
            height: 3.5vw;
        }
        .placeholder{
            color:#D1D1D1;
        }
    }
}